source https://nuget.org/api/v2

nuget FAKE
nuget FSharp.Compiler.Tools
nuget NUnit
nuget Npgsql ~> 2.2.5
nuget Unquote
nuget Microsoft.Owin >= 3.0

source https://www.myget.org/F/websharper-temp/api/v2

nuget WebSharper.Warp
nuget FSharp.Data.SqlProvider
