source https://nuget.org/api/v2

nuget FAKE
nuget FSharp.Compiler.Tools
nuget NUnit
nuget Npgsql
nuget Unquote
nuget WebSharper.Warp

github fsprojects/SQLProvider
github intellifactory/websharper.warp
