source http://www.phobot.net/NuGet
nuget WebSharper.Warp

source https://nuget.org/api/v2

nuget FAKE
nuget FSharp.Compiler.Tools
nuget NUnit
nuget Npgsql
nuget Unquote

github fsprojects/SQLProvider
