<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <system.diagnostics>
            <switches>
              <add name="Microsoft.Owin" value="Verbose" />
            </switches>
            <sharedListeners>
                <add name="logfile" type="System.Diagnostics.TextWriterTraceListener" initializeData="output.log" />
            </sharedListeners>

      <trace autoflush="true">
                <listeners>
                  <add name="console" />
            <add name="logfile" />
          </listeners>
      </trace>

            <sources>
              <source name="Microsoft.Owin">
                <listeners>
                  <add name="console" />
                </listeners>
              </source>
            </sources>
  </system.diagnostics>
</configuration>
